/*@import "tailwindcss/base";*/

/*@import "tailwindcss/components";*/

/*@import "tailwindcss/utilities";*/

.tree-search-header-container {
  position: relative;
  text-align: left;
  /*margin: 20px 0;*/
}

.tree-search-header-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--color-base-25), transparent);
  z-index: 0;
}

.tree-search-header {
  display: inline-block;
  position: relative;
  background-color: var(--background-primary);
  color: var(--color-base-40) !important;
  font-size: 0.8em;
  padding: 0 20px;
  z-index: 1;
}

.search-tree-separator {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(128, 128, 128, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  /*position: absolute;*/
  /*top: 50%;*/
  transform: translateY(-50%);
}

.tree-node {
  white-space: nowrap;
  width: 1000px !important;
  cursor: pointer !important;
}

.tree-node:hover {
  background-color: var(--color-base-30);
}

.tree-search-page .cm-formatting-list-ul {
  padding-right: 10px;
}

.highlight {
  background-color: var(--color-base-20);
}

.obsidian-link {
  text-decoration: none;
}

.h1 .h2 .h3 .h4 .h5 .h6 {
  margin: 0;
  padding: 0;
}

.markdown-source-view.mod-cm6 .cm-indent {
}

:root {
  --instructions-height: 64px;
}

.tree-search-help i, .tree-search-help b {
  color: var(--color-base-40);
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-main {
  flex: 1;
  /*height: calc(100% - var(--instructions-height));*/
  overflow-y: auto;
}

.flex-footer {
  position: sticky;
  bottom: 0;
  /*background-color: va;*/
}

.tree-search-help {
  position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
  background-color: var(--color-base-90);
}

.tree-search-modal {
  width: 800px;
  padding-bottom: 0;
}

.tree-search-modal-content {
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tree-search-modal-container {
  height: 100%;
  width: 100%;
}

.search-view-middle {
  position: relative;
  overflow-y: auto;
  /* Scrollable */
}

.tree-search-modal-instructions {
  border-top: 1px solid var(--background-secondary);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  padding: var(--size-4-2);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-4-3);
}

.tree-search-modal-instructions .tree-search-modal-instructions-key {
  font-weight: var(--font-extrabold);
  margin-right: var(--size-2-2);
}

/* Tooltip container */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tree-search-tooltip {
  visibility: visible;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 0;
  /* Position in the middle vertically */
  left: 225%;
  /* Position to the right of the element */
  margin-top: -0px;
  /* Center the tooltip vertically */
  opacity: 0.9;
  width: 120px;
}

.tree-search-tooltip::after {
  content: "";
  position: absolute;
  top: 0;
  /* In the middle of the tooltip */
  right: 100%;
  /* At the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Loading animations */

/* Add this to your CSS file */

@keyframes dot-blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-dots span {
  animation: dot-blink 1.4s infinite both;
  font-size: 60px;
  /* Increase the size of the dots */
  margin: 0 5px;
  /* Adjust spacing between dots */
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}
