/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.search-tree-container {
	border-top: 1px solid gray;
}

.tree-node {
	padding: 3px 0 3px 0;
}

.tree-node:hover {
	background-color: #f0f0f0;
}

.obsidian-link {
	text-decoration: none;
}

.h1 .h2 .h3 .h4 .h5 .h6 {
	margin: 0;
	padding: 0;
}
