@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) important;
@import "tailwindcss/utilities.css" layer(utilities) important;

/* Obsidian theme colors https://docs.obsidian.md/Reference/CSS+variables/Foundations/Colors */
@theme inline {
	--color-obs-border: var(--background-modifier-border-focus);
	--color-obs-hover: var(--background-modifier-border-hover);
	--color-obs-base-100: var(--color-base-100);
	--color-obs-base-60: var(--color-base-60);
	--color-obs-base-40: var(--color-base-40);
	--color-obs-base-20: var(--color-base-20);
	--color-obs-base-0: var(--color-base-0);
	--color-obs-accent: var(--color-accent);
}

.tree-search-modal {
	/* height: calc(100vh * 0.75); */
	width: calc(100vw * 0.60);
}

/* @import "tailwindcss/preflight.css" layer(base) important; */
.tw-reset {
	@import "./preflight.css";
	button {
		box-shadow: none;
	}

	button,
	input,
	select,
	optgroup,
	textarea,
	::file-selector-button {
		font: inherit; /* 1 */
		font-feature-settings: inherit; /* 1 */
		font-variation-settings: inherit; /* 1 */
		letter-spacing: inherit; /* 1 */
		color: inherit; /* 1 */
		border-radius: 0; /* 2 */
		background-color: transparent; /* 3 */
		opacity: 1; /* 4 */
	}
}

@import "./markdown-code-block/styles.css";
@import "./SearchTreeNode.css";